html {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

body {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size:12px;
}

.break-page {
  page-break-after: always;
}

thead{
  display:table-header-group;
}
tbody{
  display:table-row-group;
}
tfoot{
  display:table-footer-group;
}
th{
  text-align:center;
}
tr,td{
  padding: 1px;
}
.right{
  float: right;
}
.left{
  float: left;
}

@media screen {

body{
  font-size: 15px;
}

.right{
padding-right:40px;
}
.left{
  padding-left: 40px;
}

}